<table mat-table [dataSource]="users$ | async"
       [style]="this.themeObjectService.data.value.isDarkTheme ? black : white">
  <ng-container matColumnDef="position" style="margin: 10px 10px 10px 10px">
    <th mat-header-cell *matHeaderCellDef
        [style]="this.themeObjectService.data.value.isDarkTheme ? blackColor : whiteColor"> No.
    </th>
    <td mat-cell *matCellDef="let i = index"
        [style]="this.themeObjectService.data.value.isDarkTheme  ? blackColor : whiteColor"> {{i + 1}} </td>
  </ng-container>
  <ng-container matColumnDef="image" style="margin: 10px 10px 10px 10px">
    <th mat-header-cell *matHeaderCellDef
        [style]="this.themeObjectService.data.value.isDarkTheme  ? blackColor : whiteColor"> Image
    </th>
    <td mat-cell *matCellDef="let element">
      <img src="../../../assets/img/awaiting-image-profile-1000-1000.jpg" style="width: 50px; border-radius: 50%">
    </td>
  </ng-container>
  <ng-container matColumnDef="username" style="margin: 10px 10px 10px 10px">
    <th mat-header-cell *matHeaderCellDef
        [style]="this.themeObjectService.data.value.isDarkTheme  ? blackColor : whiteColor"> Login
    </th>
    <td mat-cell *matCellDef="let element">
      {{element.username}}
    </td>
  </ng-container>
  <ng-container matColumnDef="name" style="margin: 10px 10px 10px 10px">
    <th mat-header-cell *matHeaderCellDef
        [style]="this.themeObjectService.data.value.isDarkTheme  ? blackColor : whiteColor"> Name
    </th>
    <td mat-cell *matCellDef="let element">
      {{element.name}}
    </td>
  </ng-container>
  <ng-container matColumnDef="lastName" style="margin: 10px 10px 10px 10px">
    <th mat-header-cell *matHeaderCellDef> Last Name</th>
    <td mat-cell *matCellDef="let element">
      {{element.lastName}}
    </td>
  </ng-container>
  <ng-container matColumnDef="email" style="margin: 10px 10px 10px 10px">
    <th mat-header-cell *matHeaderCellDef
        [style]="this.themeObjectService.data.value.isDarkTheme  ? blackColor : whiteColor"> Email
    </th>
    <td mat-cell *matCellDef="let element"
        [style]="this.themeObjectService.data.value.isDarkTheme  ? blackColor : whiteColor">
      {{element.email}}
    </td>
  </ng-container>
  <ng-container matColumnDef="city" style="margin: 10px 10px 10px 10px">
    <th mat-header-cell *matHeaderCellDef
        [style]="this.themeObjectService.data.value.isDarkTheme  ? blackColor : whiteColor"> City
    </th>
    <td mat-cell *matCellDef="let element"
        [style]="this.themeObjectService.data.value.isDarkTheme  ? blackColor : whiteColor">{{element.city}}</td>
  </ng-container>
  <ng-container matColumnDef="address" style="margin: 10px 10px 10px 10px">
    <th mat-header-cell *matHeaderCellDef
        [style]="this.themeObjectService.data.value.isDarkTheme  ? blackColor : whiteColor"> Address
    </th>
    <td mat-cell *matCellDef="let element"
        [style]="this.themeObjectService.data.value.isDarkTheme  ? blackColor : whiteColor">
      {{element.address}}
    </td>
  </ng-container>
  <ng-container matColumnDef="postCode" style="margin: 10px 10px 10px 10px">
    <th mat-header-cell *matHeaderCellDef
        [style]="this.themeObjectService.data.value.isDarkTheme  ? blackColor : whiteColor"> Post Code
    </th>
    <td mat-cell *matCellDef="let element"
        [style]="this.themeObjectService.data.value.isDarkTheme  ? blackColor : whiteColor">
      {{element.postCode}}
    </td>
  </ng-container>
  <ng-container matColumnDef="phone" style="margin: 10px 10px 10px 10px">
    <th mat-header-cell *matHeaderCellDef
        [style]="this.themeObjectService.data.value.isDarkTheme  ? blackColor : whiteColor"> Phone
    </th>
    <td mat-cell *matCellDef="let element"
        [style]="this.themeObjectService.data.value.isDarkTheme  ? blackColor : whiteColor">
      {{element.phone}}
    </td>
  </ng-container>
  <ng-container matColumnDef="role" style="margin: 10px 10px 10px 10px">
    <th mat-header-cell *matHeaderCellDef
        [style]="this.themeObjectService.data.value.isDarkTheme  ? blackColor : whiteColor"> Role
    </th>
    <td mat-cell *matCellDef="let element"
        [style]="this.themeObjectService.data.value.isDarkTheme  ? blackColor : whiteColor">
      {{getRole(element.role)}}
    </td>
  </ng-container>
  <ng-container matColumnDef="option" style="margin: 10px 10px 10px 10px">
    <th mat-header-cell *matHeaderCellDef
        [style]="this.themeObjectService.data.value.isDarkTheme  ? blackColor : whiteColor"> Option
    </th>
    <td mat-cell *matCellDef="let element"
        [style]="this.themeObjectService.data.value.isDarkTheme  ? blackColor : whiteColor">
      <div>
        <div class="admin-table-user" *ngIf="getRole(element.role) === 'USER'">
    <span class="material-icons"
          style="margin-left: 70%"
          (click)="onDelete(element.id)">
       delete
    </span>
        </div>
        <div class="admin-table-user">
          <span class="material-icons"
                style="margin-left: 70%"
                (click)="getComments(element.name)">
              comment
          </span>
        </div>
        <div class="admin-table-user">
          <span class="material-icons"
                style="margin-left: 70%"
                (click)="getPurchases(element.id)">
              shopping_cart
          </span>
        </div>
      </div>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<div *ngIf="isOpenCommentTable">
  <app-comment-user-admin-table></app-comment-user-admin-table>
</div>
<div *ngIf="isOpenPurchasesTable">
  <app-purchase></app-purchase>
</div>
