<div class="footer">
  <div class="footer-image">
    <a href="">
    <img [src]="isWuActive ? wA : w"
         style="width: 50%; border-radius: 50%; margin: 40% 0% 0% 0%"
         (mouseenter)="changeWImage()"
         (mouseleave)="changeWImage()"/>
    </a>
  </div>
  <div>
    <img [src]="isLiActive ? inA : in"
         style="width: 50%; border-radius: 50%; margin: 40% 0% 0% 0%"
         (mouseenter)="changeImg()"
         (mouseleave)="changeImg()"/>
  </div>
  <div>
    <a href="https://github.com/Andrej-oss">
    <img [src]="isGitActive ? gitA : git"
         style="width: 50%; border-radius: 50%; margin: 40% 0% 0% 0%"
         (mouseleave)="changeGitImage()"
         (mouseenter)="changeGitImage()"/>
    </a>
  </div>
</div>

