.pizza-card{
  width: 300px;
  height: 500px;
  border-radius: 5px;
  font-family: "Comic Sans MS";
}
.pizza-card-image{
  width: 80%;
  border-radius: 80%;
  box-shadow:0 0 15px;
  margin: 10% 10% 10% 10%;
  left: 25%;
  transition: 1000ms;
  cursor: pointer;
}
.pizza-card-text{
  margin: 5% 5% 5% 5%;
}
.pizza-card-image:hover{
  transform: translateY(-10px);
  transition: 1000ms;
}
.pizza-card-price{
  display: flex;
  justify-content: space-between;
  margin: 5% 5% 5% 5%;
}
button:focus{
  outline: 0;
}
