<div>
  <div class="home-page-posts-content">
    <h2 >Promotions</h2>
    <mat-carousel
      timings="250ms ease-in"
      [autoplay]="true"
      color="accent"
      slides="20"
      [loop]="true"
      [hideArrows]="false"
      [hideIndicators]="false"
      [useKeyboard]="true"
      [useMouseWheel]="false"
      orientation="ltr"
      proportion="30"
      style="width: 300px; height: 200px; z-index: -1">
      <mat-carousel-slide
        #matCarouselSlide
        *ngFor="let promotion of promotions; let i = index"
        [image]="url + promotion.path"
        overlayColor="#00000040"
        [hideOverlay]="false"
        style="width: 400px; height: 200px">
      </mat-carousel-slide>
    </mat-carousel>
  </div>
  <h1 style="margin-left: 20%;">Pizzas</h1>
  <app-pizza-page count="8"></app-pizza-page>
  <button mat-button (click)="onPizzas()" style=" margin: -40% 10% 0% 80%">Show more...</button>
  <h1 style="margin-left: 20%;">Drinks</h1>
  <app-drink-page count="5"></app-drink-page>
  <button mat-button (click)="onDrinks()" style="margin: -40% 10% 0% 80%">Show more...</button>
  <h1 style="margin-left: 20%;">Snacks</h1>
  <app-snack-page count="5"></app-snack-page>
  <button mat-button (click)="onSnacks()" style="margin: -40% 10% 0% 80%">Show more...</button>
  <h1 style="margin-left: 20%;">Desserts</h1>
  <app-dessert-page count="5"></app-dessert-page>
  <button mat-button (click)="onDesserts()" style="margin: -40% 10% 0% 80%">Show more...</button>
</div>
