.snack-admin-image{
  width: 50px;
  border-radius: 50%;
}
.admin-table-column{
  margin: 10% 10% 10% 10%;
}
.snack-admin{
  width: 400px;
}
.admin-snack-delete:hover{
  color: grey;
  cursor: pointer;
}
.admin-snack-settings:hover{
  color: grey;
  cursor: pointer;
}
