<mat-card
  [style]="themeObjectService.data.value.isDarkTheme ? 'background-color: black; color: white' : 'background-color: white; color: black'">
  <form [formGroup]="comment">
    <ng-template matStepLabel>Creat comment</ng-template>
    <mat-form-field style="width: 100%">
      <mat-label
        [style]="themeObjectService.data.value.isDarkTheme ? 'color: white' : 'color: black'">Tittle</mat-label>
      <input matInput placeholder="Tittle"
             [style]="themeObjectService.data.value.isDarkTheme ? 'width: 100%;box-shadow: 0 1px 0;' :'width: 100%'"
             [formControl]="tittle" required>
    </mat-form-field>
    <mat-form-field style="width: 100%">
      <mat-label
        [style]="themeObjectService.data.value.isDarkTheme ? 'color: white' : 'color: black'">Comment body</mat-label>
      <textarea matInput placeholder="Comment"
                [style]="themeObjectService.data.value.isDarkTheme ? 'width: 300px; height: 80px;box-shadow: 0 1px 0;'
                :'width: 300px; height: 80px'"
                [formControl]="body" required></textarea>
    </mat-form-field>
    <p *ngIf="!commentUser">
      <button mat-button (click)="onSave(comment)">save</button>
    </p>
    <p *ngIf="commentUser">
      <button mat-button (click)="onUpdate(comment)">update</button>
    </p>
  </form>
</mat-card>
