<div class="row" *ngIf="!isRated && themeObjectService.data.value.userId > 0 ">
  <div class="col-sm-12">
    <ul class="list-inline rating-list" *ngFor="let star of stars" style="display: inline-block">
      <li (click)="countStar(star)" [ngClass]="{'selected': (star <= selectedValue)}">
        <mat-icon>grade</mat-icon>
      </li>
    </ul>
  </div>
</div>
<div class="row" *ngIf="isRated && themeObjectService.data.value.userId > 0 ">
  <app-star-rating [averageRating]="averageRating" style="margin: 0% 0% 0% 15%"></app-star-rating>
</div>
<p *ngIf="userRating" style="text-align: center">
  (You voted. Your rating {{ userRating.value}})
</p>
<div class="row" *ngIf="themeObjectService.data.value.userId === 0" style="margin: 0% 0% 0% 15%">
  <app-star-rating [averageRating]="averageRating" ></app-star-rating>
</div>
