button:focus{
  outline: none;
}
.registration-card{
  width: 40%;
  left: 25%;
  margin: 2%;
  padding: 5%;
  box-shadow: 0 0 5px;
}
.registration-card-dark {
background-color: black;
  color: white;
}
