<div class="pizza-cart-card-item">
  <div class="">
    <img [src]="url+pizza.path" class="pizza-cart-card-item-image">
  </div>
  <div class="pizza-cart-card-item-content">
    <div class="pizza-cart-card-item-content-tittle">
      {{pizza.name}}
    </div>
    <div class="pizza-cart-card-item-content-size">
      {{cartElement.size}}
    </div>
    <p>
      {{cartElement.description}}
    </p>
    <div class="pizza-cart-cart-item-buttons">
      <button mat-mini-fab [disabled]="count <= 1" (click)="onDec()">-</button>
      {{count}}
      <button mat-mini-fab (click)="onInc()">+</button>
    </div>
  </div>
  <div style="margin-top: 5%">
      <span class="material-icons" (click)="onDelete(cartElement.id)">
       delete
    </span>
  <div class="pizza-cart-cart-item-price">
    {{price}}
  </div>
  </div>
</div>
