<mat-card
  [style]="themeObjectService.data.value.isDarkTheme ? 'background-color: black; color: white' : 'background-color: white; color: black'">
  <form [formGroup]="drinkForm">
    <mat-form-field style="width: 100%">
      <mat-label>Drink name</mat-label>
      <input matInput aria-placeholder="Drink name" [formControl]="nameDrink" placeholder="600"
             required>
    </mat-form-field>
    <mat-form-field style="width: 100%">
      <mat-label>Weight</mat-label>
      <input matInput type="number" [formControl]="volume" placeholder="0.5"
             required>
    </mat-form-field>
    <mat-form-field appearance="fill" style="width: 100%">
      <mat-label>Price</mat-label>
      <input matInput type="number" class="example-left-align" [formControl]="priceDrink">
      <span matPrefix>$&nbsp;</span>
      <span matSuffix>.00</span>
    </mat-form-field>
    <input type="file" (change)="upLoadFileSize($event)" accept=".jpg"/>
    <div>
      <button mat-button
              (click)="onSave(drinkForm)"
              style="left: 90%" *ngIf="!drink">
        Save
      </button>
      <button mat-button
              (click)="onUpdate(drinkForm)"
              style="left: 90%" *ngIf="drink">
        Update
      </button>
    </div>
  </form>
</mat-card>
